:root {
  --primary-color: #252525;
  --secondary-color: #f3f3f3;
  --tertiary-color: #c9c49e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 4px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/*Header Nav bar styles end */

/* Body styles Start */

#hero {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#hero a {
  color: var(--tertiary-color);
}

#about {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#about a {
  color: var(--tertiary-color);
}

#services {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

#services a {
  color: var(--tertiary-color);
}

#testimonials {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}